version: '3'

services:
  d3-notary:
    image: nexus.iroha.tech:19002/d3-deploy/notary:develop
    container_name: d3-notary-{{ bootstrap_nodeid }}
    env_file:
      - .env-eth-deposit
    environment:
      - PROFILE
    volumes:
      - {{ iroha_deploy_dir }}/conf/{{ iroha_nodes.0.human_hostname }}:/opt/notary/configs/iroha
      - {{ bootstrap_deployment_basedir }}/conf:/opt/notary/configs
    expose:
      - 8080
    networks:
      - d3
      - iroha-net
    labels:
      - filebeat.module=docker
      - filebeat.fields.env=${ENVIRONMENT:?ENVIRONMENT is not defined}
      - filebeat.fields.app=notary
      - filebeat.fields.project=d3
      - filebeat.fields.logtype=d3-java-log
    restart: always

  d3-eth-registration:
    image: nexus.iroha.tech:19002/d3-deploy/eth-registration:develop
    container_name: d3-eth-registration-{{ bootstrap_nodeid }}
    env_file:
      - .env-eth-registration
    environment:
      - PROFILE
    volumes:
      - {{ iroha_deploy_dir }}/conf/{{ iroha_nodes.0.human_hostname }}:/opt/notary/configs/iroha
      - {{ bootstrap_deployment_basedir }}/conf:/opt/notary/configs
    networks:
      - d3
      - iroha-net
      - traefik-net
    labels:
      - filebeat.module=docker
      - filebeat.fields.env=${ENVIRONMENT:?ENVIRONMENT is not defined}
      - filebeat.fields.app=eth-registration
      - filebeat.fields.project=d3
      - filebeat.fields.logtype=d3-java-log
      - "traefik.docker.network=traefik-net"
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${ETH_REGISTRATION_HOST:?ETH_REGISTRATION_HOST is not defined}"
      - "traefik.frontend.headers.customResponseHeaders=Access-Control-Allow-Origin:https://${BACKEND_HOST:?BACKEND_HOST is not defined}"
      - "traefik.port=${ETH_REGISTRATION_PORT:?ETH_REGISTRATION_PORT is not defined}"
      - "traefik.protocol=http"
    restart: always

  d3-registration:
    image: nexus.iroha.tech:19002/d3-deploy/notary-registration:develop
    container_name: d3-registration-{{ bootstrap_nodeid }}
    volumes:
      - {{ iroha_deploy_dir }}/conf/{{ iroha_nodes.0.human_hostname }}:/opt/notary/configs/iroha
      - {{ bootstrap_deployment_basedir }}/conf:/opt/notary/configs
    env_file:
      .env-registration
    environment:
      - PROFILE
    networks:
      - d3
      - iroha-net
      - traefik-net
    labels:
      - filebeat.module=docker
      - filebeat.fields.env=${ENVIRONMENT:?ENVIRONMENT is not defined}
      - filebeat.fields.app=registration
      - filebeat.fields.project=d3
      - filebeat.fields.logtype=d3-java-log
      - "traefik.docker.network=traefik-net"
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${REGISTRATION_HOST:?REGISTRATION_HOST is not defined}"
      - "traefik.port=${REGISTRATION_PORT:?REGISTRATION_PORT is not defined}"
      - "traefik.protocol=http"
      - "traefik.frontend.headers.customResponseHeaders=Access-Control-Allow-Origin:https://${BACKEND_HOST:?BACKEND_HOST is not defined}"
    restart: always

  d3-withdrawal:
    image: nexus.iroha.tech:19002/d3-deploy/eth-withdrawal:develop
    container_name: d3-withdrawal-{{ bootstrap_nodeid }}
    volumes:
      - {{ iroha_deploy_dir }}/conf/{{ iroha_nodes.0.human_hostname }}:/opt/notary/configs/iroha
      - {{ bootstrap_deployment_basedir }}/conf:/opt/notary/configs
    env_file:
      .env-withdrawal
    environment:
      - PROFILE
    expose:
      - {{ bootstrap_withdrawal_port }}
    networks:
      - d3
      - iroha-net
    labels:
      - filebeat.module=docker
      - filebeat.fields.env=${ENVIRONMENT:?ENVIRONMENT is not defined}
      - filebeat.fields.app=withdrawal
      - filebeat.fields.project=d3
      - filebeat.fields.logtype=d3-java-log
    restart: always

  d3-relay-registration:
    image: nexus.iroha.tech:19002/d3-deploy/eth-relay:develop
    container_name: d3-relay-registration-{{ bootstrap_nodeid }}
    volumes:
      - {{ iroha_deploy_dir }}/conf/{{ iroha_nodes.0.human_hostname }}:/opt/notary/configs/iroha
      - {{ bootstrap_deployment_basedir }}/conf:/opt/notary/configs
    env_file:
      .env-relay-registration
    environment:
      - PROFILE
    networks:
      - d3
      - iroha-net
    labels:
      - filebeat.module=docker
      - filebeat.fields.env=${ENVIRONMENT:?ENVIRONMENT is not defined}
      - filebeat.fields.app=relay-registration
      - filebeat.fields.project=d3
      - filebeat.fields.logtype=d3-java-log
    restart: always

  grpcwebproxy:
    image: nexus.iroha.tech:19002/d3-deploy/grpcwebproxy
    container_name: d3-grpcwebproxy-{{ bootstrap_nodeid }}
    entrypoint:
      - grpcwebproxy
      - --backend_addr={{ bootstrap_grpcwebproxy_iroha_hostname }}:{{ bootstrap_grpcwebproxy_iroha_port }}
      - --run_tls_server=false
    labels:
      - "traefik.docker.network=traefik-net"
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${GRPCWEBPROXY_HOST:?GRPCWEBPROXY_HOST is not defined};PathPrefix:/iroha.protocol.QueryService_v1"
      - "traefik.port=${GRPCWEBPROXY_PORT:?GRPCWEBPROXY_PORT is not defined}"
      - "traefik.protocol=http"
    networks:
      - d3
      - iroha-net
      - traefik-net
    restart: always

  d3-backend:
    image: sebp/lighttpd
    container_name: d3-backend
    expose:
      - 80
    volumes:
      - {{ bootstrap_backend_static_files_path }}:/var/www/localhost/htdocs
    labels:
      - "traefik.docker.network=traefik-net"
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${BACKEND_HOST:?BACKEND_HOST is not defined}"
      - "traefik.port=80"
      - "traefik.protocol=http"
    networks:
      - d3
      - traefik-net
    restart: always

  d3-btc-address-generation:
    image: nexus.iroha.tech:19002/d3-deploy/btc-address-generation:develop
    container_name: d3-btc-address-generation-{{ bootstrap_nodeid }}
    volumes:
      - {{ iroha_deploy_dir }}/conf/{{ iroha_nodes.0.human_hostname }}:/opt/notary/configs/iroha
      - {{ bootstrap_deployment_basedir }}/conf:/opt/notary/configs
    env_file:
      .env-btc-address-generation
    environment:
      - PROFILE
    networks:
      - d3
      - iroha-net
    labels:
      - filebeat.module=docker
      - filebeat.fields.env=${ENVIRONMENT:?ENVIRONMENT is not defined}
      - filebeat.fields.app=btc-address-generation
      - filebeat.fields.project=d3
      - filebeat.fields.logtype=d3-java-log
    restart: always

  d3-btc-dw-bridge:
    image: nexus.iroha.tech:19002/d3-deploy/btc-dw-bridge:develop
    container_name: d3-btc-dw-bridge-{{ bootstrap_nodeid }}
    volumes:
      - {{ iroha_deploy_dir }}/conf/{{ iroha_nodes.0.human_hostname }}:/opt/notary/configs/iroha
      - {{ bootstrap_deployment_basedir }}/conf:/opt/notary/configs
      - dw-bridge-storage:/opt/notary/deploy/bitcoin/mainnet/blocks
    env_file:
      .env-btc-dw-bridge
    environment:
      - PROFILE
    networks:
      - d3
      - iroha-net
    labels:
      - filebeat.module=docker
      - filebeat.fields.env=${ENVIRONMENT:?ENVIRONMENT is not defined}
      - filebeat.fields.app=btw-dw-bridge
      - filebeat.fields.project=d3
      - filebeat.fields.logtype=d3-java-log
    restart: always

  d3-btc-registration:
    image: nexus.iroha.tech:19002/d3-deploy/btc-registration:develop
    container_name: d3-btc-registration-{{ bootstrap_nodeid }}
    volumes:
      - {{ iroha_deploy_dir }}/conf/{{ iroha_nodes.0.human_hostname }}:/opt/notary/configs/iroha
      - {{ bootstrap_deployment_basedir }}/conf:/opt/notary/configs
    env_file:
      .env-btc-registration
    environment:
      - PROFILE
    labels:
      - filebeat.module=docker
      - filebeat.fields.env=${ENVIRONMENT:?ENVIRONMENT is not defined}
      - filebeat.fields.app=btc-registration
      - filebeat.fields.project=d3
      - filebeat.fields.logtype=d3-java-log
      - "traefik.docker.network=traefik-net"
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${BTC_REGISTRATION_HOST:?BTC_REGISTRATION_HOST is not defined}"
      - "traefik.port=${BTC_REGISTRATION_PORT:?BTC_REGISTRATION_PORT is not defined}"
      - "traefik.protocol=http"
      - "traefik.frontend.headers.customResponseHeaders=Access-Control-Allow-Origin:https://${BACKEND_HOST:?BACKEND_HOST is not defined}"
    networks:
      - d3
      - iroha-net
      - traefik-net
    restart: always

  d3-rmq:
    image: rabbitmq:3-management
    container_name: d3-rmq
    networks:
      - d3
    restart: always

  d3-chain-adapter:
    image: nexus.iroha.tech:19002/d3-deploy/chain-adapter:develop
    container_name: d3-chain-adapter-{{ bootstrap_nodeid }}
    volumes:
      - {{ iroha_deploy_dir }}/conf/{{ iroha_nodes.0.human_hostname }}:/opt/notary/configs/iroha
      - {{ bootstrap_deployment_basedir }}/conf:/opt/notary/configs
    env_file:
      .env-chain-adapter
    networks:
      - d3
      - iroha-net
    labels:
      - filebeat.module=docker
      - filebeat.fields.env=${ENVIRONMENT:?ENVIRONMENT is not defined}
      - filebeat.fields.app=chain-adapter
      - filebeat.fields.project=d3
      - filebeat.fields.logtype=d3-java-log
    restart: always

{% if bootstrap_brvs_enable %}
  d3-brvs-mongodb:
    image: mongo:4.0.6
    container_name: d3-brvs-mongodb
    expose:
      - 27017
    environment:
      - MONGO_DATA_DIR=/data/brvs/db
      - MONGO_LOG_DIR=/data/brvs/logs
    volumes:
      - mongodb-storage-db:/data/brvs/db
      - mongodb-storage-logs:/data/brvs/logs
    command: mongod --smallfiles
    networks:
      - d3
    restart: always

  d3-brvs:
    image: nexus.iroha.tech:19002/brvs-deploy/brvs:1.0.0_rc5
    container_name: d3-brvs-{{ bootstrap_nodeid }}
    env_file:
      .env-brvs
    ports:
      - 8080:8080
    depends_on:
      - d3-brvs-mongodb
      - d3-rmq
    environment:
      WAIT_HOSTS: d3-brvs-mongodb:27017, d3-rmq:5672
      WAIT_BEFORE_HOSTS: 10
    volumes:
      - {{ iroha_deploy_dir }}/conf/{{ iroha_nodes.0.human_hostname }}:/opt/brvs/config/iroha
      - {{ bootstrap_deployment_basedir }}/conf/brvs/application.properties:/opt/brvs/config/context/application.properties
      - {{ bootstrap_deployment_basedir }}/conf/brvs/spring-context.xml:/opt/brvs/config/context/spring-context.xml
    networks:
      - d3
      - iroha-net
    labels:
      - filebeat.module=docker
      - filebeat.fields.env=${ENVIRONMENT:?ENVIRONMENT is not defined}
      - filebeat.fields.app=brvs
      - filebeat.fields.project=d3
      - filebeat.fields.logtype=d3-java-log      
    restart: always
{% endif %}

volumes:
  dw-bridge-storage:
  mongodb-storage-db:
  mongodb-storage-logs:

networks:
  d3:
  traefik-net:
    external:
      name: traefik-net
  iroha-net:
    external:
      name: iroha-net
