version: '3.5'

services:
  d3-iroha:
    image: hyperledger/iroha:1.0.0
    container_name: d3-iroha
    ports:
      - 50051:50051
      - 10001:10001
    depends_on:
      - d3-iroha-postgres
    tty: true
    environment:
      - KEY=keys/node0
    entrypoint:
      - /opt/iroha_data/entrypoint.sh
    volumes:
      - iroha_block_store:/tmp/block_store
      - ./iroha:/opt/iroha_data
    networks:
      - d3-network

  d3-iroha-postgres:
    image: postgres:9.5
    container_name: d3-iroha-postgres
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
    expose:
      - 5432
    networks:
      - d3-network

  d3-rmq:
    container_name: d3-rmq
    image: rabbitmq:3-management
    ports:
      - 8181:15672
      - 5672:5672
    networks:
      - d3-network

  d3-chain-adapter:
    image: nexus.iroha.tech:19002/d3-deploy/chain-adapter:latest
    container_name: d3-chain-adapter
    restart: on-failure
    depends_on:
      - d3-rmq
      - d3-iroha
    volumes:
      - ./:/opt/chain-adapter/deploy
      - ../configs:/opt/chain-adapter/configs
    environment:
      - WAIT_HOSTS=d3-iroha:50051, d3-rmq:5672
      - WAIT_HOSTS_TIMEOUT=300
      - WAIT_SLEEP_INTERVAL=3
      - PROFILE
    networks:
      - d3-network

  d3-brvs-mongodb:
    image: mongo:4.0.6
    container_name: d3-brvs-mongodb
    environment:
    - MONGO_DATA_DIR=/data/brvs/db
    - MONGO_LOG_DIR=/data/brvs/logs
    volumes:
    - ./data/brvs/db:/data/brvs/db
    - ./data/brvs/logs:/data/brvs/logs
    ports:
    - 27017:27017
    command: mongod --smallfiles

  d3-brvs:
    image: nexus.iroha.tech:19002/brvs-deploy/brvs:latest
    container_name: d3-brvs
    ports:
    - 8080:8080
    depends_on:
    - d3-brvs-mongodb
    - d3-rmq
    environment:
      WAIT_HOSTS: d3-brvs-mongodb:27017, d3-rmq:5672, d3-iroha:50051
      WAIT_BEFORE_HOSTS: 10
      WAIT_HOSTS_TIMEOUT: 60
      CREDENTIAL_PUBKEY: b9679bbf526a1c936cd1144b56a370d376fa8246b248cd72f952b45a2f20bdad
      CREDENTIAL_PRIVKEY: 56a3c52cd039d9b73a1720052600a20962350b1ea169b4783cefbf87ed99406a
    volumes:
    - ../configs/brvs/keys:/opt/brvs/config/keys/
    networks:
    - d3-network

volumes:
  iroha_block_store:

networks:
  d3-network:
