<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util
  http://www.springframework.org/schema/util/spring-util.xsd">

  <!-- PATH TO THE PROPERTIES FILE -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations" value="file:config/context/application.properties"/>
  </bean>

  <!-- KEY PAIR DEFINITION -->
  <bean id="keyPair" class="jp.co.soramitsu.iroha.java.Utils" factory-method="parseHexKeypair">
    <constructor-arg index="0" value="${credential.pubkey}"/>
    <constructor-arg index="1" value="${credential.privkey}"/>
  </bean>

  <!-- IROHA API IPJ CONFIG -->
  <bean id="irohaAPI" class="jp.co.soramitsu.iroha.java.IrohaAPI">
    <constructor-arg index="0" value="${iroha.host}"/>
    <constructor-arg index="1" value="${iroha.port}"/>
  </bean>

  <!-- STORAGE CONFIG -->
  <bean id="mongoVerdictStorage"
        class="iroha.validation.transactions.storage.impl.mongo.MongoTransactionVerdictStorage">
    <constructor-arg index="0" value="${mongo.host}"/>
    <constructor-arg index="1" value="${mongo.port}"/>
  </bean>

  <!-- USER ACCOUNTS MANAGER CONFIG -->
  <bean id="accountManager"
        class="iroha.validation.transactions.provider.impl.AccountManager">
    <constructor-arg index="0" value="${credential.accountId}"/>
    <constructor-arg index="1" ref="keyPair"/>
    <constructor-arg index="2" ref="irohaAPI"/>
    <constructor-arg index="3" value="${quorum.key}"/>
    <constructor-arg index="4" value="${accounts.holder}"/>
    <constructor-arg index="5" value="${credential.accountId}"/>
  </bean>

  <!-- PROVIDER CONFIG -->
  <bean id="transactionProvider"
        class="iroha.validation.transactions.provider.impl.BasicTransactionProvider">
    <constructor-arg index="0" ref="mongoVerdictStorage"/>
    <constructor-arg index="1" ref="cacheProvider"/>
    <constructor-arg index="2" ref="accountManager"/>
    <constructor-arg index="3" ref="accountManager"/>
    <constructor-arg index="4" ref="irohaReliableChainListener"/>
  </bean>

  <!-- CHAIN LISTENER CONFIG -->
  <bean id="irohaReliableChainListener"
        class="iroha.validation.listener.IrohaReliableChainListener">
    <constructor-arg index="0" ref="irohaAPI"/>
    <constructor-arg index="1" value="${credential.accountId}"/>
    <constructor-arg index="2" ref="keyPair"/>
    <constructor-arg index="3" value="${rmq.host}"/>
    <constructor-arg index="4" value="${rmq.port}"/>
  </bean>

  <!-- SIGNER CONFIG -->
  <bean id="transactionSigner"
        class="iroha.validation.transactions.signatory.impl.TransactionSignerImpl">
    <constructor-arg index="0" ref="irohaAPI"/>
    <constructor-arg index="1" ref="keyPair"/>
    <constructor-arg index="2" ref="mongoVerdictStorage"/>
  </bean>

  <!-- CACHE CONFIG -->
  <bean id="cacheProvider" class="iroha.validation.transactions.provider.impl.util.CacheProvider"/>

  <!-- BRVS DATA CONFIG -->
  <bean id="brvsData" class="iroha.validation.transactions.provider.impl.util.BrvsData">
    <constructor-arg index="0" value="${credential.pubkey}"/>
    <constructor-arg index="1" value="${brvs.localhostname}"/>
  </bean>

  <!-- SERVICE CONFIG -->
  <bean id="serviceContext" class="iroha.validation.config.ValidationServiceContext">
    <constructor-arg index="0" ref="validators"/>
    <constructor-arg index="1" ref="transactionProvider"/>
    <constructor-arg index="2" ref="transactionSigner"/>
    <constructor-arg index="3" ref="accountManager"/>
    <constructor-arg index="4" ref="brvsData"/>
    <constructor-arg index="5" value="${brvs.root}"/>
  </bean>

  <bean class="iroha.validation.service.impl.ValidationServiceImpl">
    <constructor-arg index="0" ref="serviceContext"/>
  </bean>

  <!-- RULES DEFINITIONS -->
  <bean id="sampleRule" class="iroha.validation.rules.impl.SampleRule"/>
  <bean id="newBrvsRule" class="iroha.validation.rules.impl.NewBrvsRule">
    <constructor-arg index="0" value="${credential.accountId}"/>
    <constructor-arg index="1" ref="keyPair"/>
    <constructor-arg index="2" ref="irohaAPI"/>
  </bean>
  <util:list id="rules" value-type="iroha.validation.rules.Rule">
    <ref bean="sampleRule"/>
    <ref bean="newBrvsRule"/>
    <!-- More can be added -->
  </util:list>

  <!-- VALIDATORS DEFINITIONS -->
  <bean id="simpleAggregationValidator"
        class="iroha.validation.validators.impl.SimpleAggregationValidator">
    <constructor-arg ref="rules"/>
  </bean>
  <util:list id="validators" value-type="iroha.validation.validators.Validator">
    <ref bean="simpleAggregationValidator"/>
    <!-- More can be added -->
  </util:list>
</beans>
