<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util
  http://www.springframework.org/schema/util/spring-util.xsd">

  <!-- PATH TO THE PROPERTIES FILE -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    <property name="locations" value="file:config/context/application.properties"/>
  </bean>

  <!-- KEY PAIR DEFINITION -->
  <bean id="brvsAccountKeyPair" class="iroha.validation.utils.ValidationUtils"
    factory-method="readKeyPairFromFiles">
    <constructor-arg name="pubKeyPath" value="${credential.pubkeyFilePath}"/>
    <constructor-arg name="privKeyPath" value="${credential.privkeyFilePath}"/>
  </bean>
  <bean id="keysList" class="iroha.validation.utils.ValidationUtils"
    factory-method="generateOrImportKeypairs">
    <constructor-arg name="amount" value="${brvs.userKeysCount}"/>
    <constructor-arg name="path" value="${brvs.userKeysPath}"/>
  </bean>
  <bean id="firstUserKey" class="iroha.validation.utils.ValidationUtils"
    factory-method="generateOrImportFirstKeypair">
    <constructor-arg name="path" value="${brvs.userKeysPath}"/>
  </bean>

  <!-- IROHA API IPJ CONFIG -->
  <bean id="irohaAPI" class="jp.co.soramitsu.iroha.java.IrohaAPI">
    <constructor-arg name="host" value="${iroha.host}"/>
    <constructor-arg name="port" value="${iroha.port}"/>
  </bean>

  <!-- STORAGE CONFIG -->
  <bean id="mongoVerdictStorage"
    class="iroha.validation.transactions.storage.impl.mongo.MongoTransactionVerdictStorage">
    <constructor-arg name="mongoHost" value="${mongo.host}"/>
    <constructor-arg name="mongoPort" value="${mongo.port}"/>
  </bean>
  <bean id="mongoBlockStorage"
    class="iroha.validation.transactions.storage.impl.mongo.MongoBlockStorage">
    <constructor-arg name="mongoHost" value="${mongo.host}"/>
    <constructor-arg name="mongoPort" value="${mongo.port}"/>
  </bean>

  <!-- USER ACCOUNTS MANAGER CONFIG -->
  <bean id="accountManager"
    class="iroha.validation.transactions.provider.impl.AccountManager">
    <constructor-arg name="brvsAccountId" value="${credential.accountId}"/>
    <constructor-arg name="brvsAccountKeyPair" ref="brvsAccountKeyPair"/>
    <constructor-arg name="irohaAPI" ref="irohaAPI"/>
    <constructor-arg name="userQuorumAttribute" value="${quorum.key}"/>
    <constructor-arg name="userDomains" value="${brvs.userDomains}"/>
    <constructor-arg name="userAccountsHolderAccount" value="${accounts.holder}"/>
    <constructor-arg name="brvsInstancesHolderAccount" value="${credential.accountId}"/>
    <constructor-arg name="keyPairs" ref="keysList"/>
  </bean>

  <!-- PROVIDER CONFIG -->
  <bean id="transactionProvider"
    class="iroha.validation.transactions.provider.impl.BasicTransactionProvider">
    <constructor-arg name="transactionVerdictStorage" ref="mongoVerdictStorage"/>
    <constructor-arg name="cacheProvider" ref="cacheProvider"/>
    <constructor-arg name="userQuorumProvider" ref="accountManager"/>
    <constructor-arg name="registrationProvider" ref="accountManager"/>
    <constructor-arg name="blockStorage" ref="mongoBlockStorage"/>
    <constructor-arg name="irohaReliableChainListener" ref="irohaReliableChainListener"/>
    <constructor-arg name="userDomains" value="${brvs.userDomains}"/>
  </bean>

  <!-- CHAIN LISTENER CONFIG -->
  <bean id="irohaReliableChainListener"
    class="iroha.validation.listener.IrohaReliableChainListener">
    <constructor-arg name="irohaAPI" ref="irohaAPI"/>
    <constructor-arg name="brvsAccountId" value="${credential.accountId}"/>
    <constructor-arg name="brvsKeyPair" ref="brvsAccountKeyPair"/>
    <constructor-arg name="userKeyPair" ref="firstUserKey"/>
    <constructor-arg name="rmqHost" value="${rmq.host}"/>
    <constructor-arg name="rmqPort" value="${rmq.port}"/>
  </bean>

  <!-- SIGNER CONFIG -->
  <bean id="transactionSigner"
    class="iroha.validation.transactions.signatory.impl.TransactionSignerImpl">
    <constructor-arg name="irohaAPI" ref="irohaAPI"/>
    <constructor-arg name="brvsAccountId" value="${credential.accountId}"/>
    <constructor-arg name="brvsAccountKeyPair" ref="brvsAccountKeyPair"/>
    <constructor-arg name="keyPairs" ref="keysList"/>
    <constructor-arg name="transactionVerdictStorage" ref="mongoVerdictStorage"/>
  </bean>

  <!-- CACHE CONFIG -->
  <bean id="cacheProvider" class="iroha.validation.transactions.provider.impl.util.CacheProvider"/>

  <!-- BRVS DATA CONFIG -->
  <bean id="pubkey" class="iroha.validation.utils.ValidationUtils" factory-method="readKey">
    <constructor-arg name="keyPath" value="${credential.pubkeyFilePath}"/>
  </bean>
  <bean id="brvsData" class="iroha.validation.transactions.provider.impl.util.BrvsData">
    <constructor-arg name="hexPubKey" ref="pubkey"/>
    <constructor-arg name="hostname" value="${brvs.localhostname}"/>
  </bean>

  <!-- SERVICE CONFIG -->
  <bean id="serviceContext" class="iroha.validation.config.ValidationServiceContext">
    <constructor-arg name="validators" ref="validators"/>
    <constructor-arg name="transactionProvider" ref="transactionProvider"/>
    <constructor-arg name="transactionSigner" ref="transactionSigner"/>
    <constructor-arg name="registrationProvider" ref="accountManager"/>
    <constructor-arg name="brvsData" ref="brvsData"/>
  </bean>

  <bean class="iroha.validation.service.impl.ValidationServiceImpl">
    <constructor-arg name="validationServiceContext" ref="serviceContext"/>
  </bean>

  <!-- RULES DEFINITIONS -->
  <bean id="sampleRule" class="iroha.validation.rules.impl.SampleRule"/>
  <bean id="newBrvsRule" class="iroha.validation.rules.impl.NewBrvsRule">
    <constructor-arg name="brvsAccountId" value="${credential.accountId}"/>
    <constructor-arg name="keyPair" ref="brvsAccountKeyPair"/>
    <constructor-arg name="irohaAPI" ref="irohaAPI"/>
  </bean>
  <bean id="updateWhitelistRule" class="iroha.validation.rules.impl.whitelist.UpdateWhitelistRule">
    <constructor-arg name="brvsAccountId" value="${credential.accountId}"/>
    <constructor-arg name="brvsAccountKeyPair" ref="brvsAccountKeyPair"/>
    <constructor-arg name="irohaAPI" ref="irohaAPI"/>
    <constructor-arg name="validationPeriod" value="${whitelist.validation}"/>
  </bean>
  <bean id="checkEthWhitelistRule" class="iroha.validation.rules.impl.whitelist.CheckWhitelistRule">
    <constructor-arg name="brvsAccountId" value="${credential.accountId}"/>
    <constructor-arg name="brvsAccountKeyPair" ref="brvsAccountKeyPair"/>
    <constructor-arg name="irohaAPI" ref="irohaAPI"/>
    <constructor-arg name="withdrawalAccount" value="${ethCheckWhitelist.withdrawalAccount}"/>
  </bean>
  <bean id="checkBtcWhitelistRule" class="iroha.validation.rules.impl.whitelist.CheckWhitelistRule">
    <constructor-arg name="brvsAccountId" value="${credential.accountId}"/>
    <constructor-arg name="brvsAccountKeyPair" ref="brvsAccountKeyPair"/>
    <constructor-arg name="irohaAPI" ref="irohaAPI"/>
    <constructor-arg name="withdrawalAccount" value="${btcCheckWhitelist.withdrawalAccount}"/>
  </bean>
  <util:list id="rules" value-type="iroha.validation.rules.Rule">
    <ref bean="sampleRule"/>
    <ref bean="newBrvsRule"/>
    <ref bean="updateWhitelistRule"/>
    <ref bean="checkEthWhitelistRule"/>
    <ref bean="checkBtcWhitelistRule"/>
    <!-- More can be added -->
  </util:list>

  <!-- VALIDATORS DEFINITIONS -->
  <bean id="simpleAggregationValidator"
    class="iroha.validation.validators.impl.SimpleAggregationValidator">
    <constructor-arg ref="rules"/>
  </bean>
  <util:list id="validators" value-type="iroha.validation.validators.Validator">
    <ref bean="simpleAggregationValidator"/>
    <!-- More can be added -->
  </util:list>
</beans>
