- name: Clean files dir
  file:
    path: "{{ role_path }}/files/"
    state: absent
  run_once: yes
  become: no
  delegate_to: localhost

- name: Create files dir
  file:
    path: "{{ role_path }}/files/"
    state: directory
  run_once: yes
  become: no
  delegate_to: localhost



- name: Generate ethereum accounts password
  debug:
    msg: "{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}"
  run_once: yes
  delegate_to: localhost
  register: eth_pass

- name: Write eth pass to file
  copy:
    content: "{{ eth_pass.msg }}"
    dest: "{{role_path}}/files/eth_pass"
  run_once: yes
  delegate_to: localhost
  become: no



- name: Create notary accounts
  shell:
    _raw_params: >
      ./create_account.sh notary_{{ inventory_hostname}} {{ eth_pass.msg }}
    chdir: "{{ role_path }}"
  become: no
  delegate_to: localhost


- name: Create other ethereum accounts
  shell:
    _raw_params: >
      ./create_account.sh {{ item }} {{ eth_pass.msg }}
    chdir: "{{ role_path }}"
  with_items:
    - withdrawal
    - registration
    - relay_registration
    - vacuum
  become: no
  run_once: yes
  delegate_to: localhost


- name: Create notary addr list file
  shell:
    _raw_params: >
      printf 0x'{{ lookup('file','files/notary_{{ inventory_hostname }}.key')
        | from_json
        |  json_query('address') }} ' \
        >> list.txt
    chdir: "{{ role_path }}/files"
  become: no
  delegate_to: localhost


- name: Set notary addrs
  shell:
    _raw_params: >
      cat list.txt
    chdir: "{{ role_path }}/files"
  become: no
  register: addrs
  delegate_to: localhost
  run_once: yes

- debug:
    msg:  "{{ addrs.stdout.split(' ') | select('match', '0x.*') | list | join(' ') }}"


- name: Deploy relay registry and master contract
  shell: "./gradlew runPreDeployEthereum --args='{{ addrs.stdout.split(' ') | select('match', '0x.*') | list | join(' ') }}'"
  args:
    chdir: "{{ playbook_dir }}/../../"
  environment:
    PROFILE: testnet
  register: file
  delegate_to: localhost
  become: no
  run_once: yes


- name: Write master contract address
  copy:
    src: "{{ playbook_dir }}/../../master_eth_address"
    dest: "{{ role_path }}/files/master_eth_address"
  become: no
  run_once: yes
  delegate_to: localhost

- name: Write relay registry address
  copy:
    src: "{{ playbook_dir }}/../../relay_registry_eth_address"
    dest: "{{ role_path }}/files/relay_registry_eth_address"
  become: no
  run_once: yes
  delegate_to: localhost

- name: Read relay registration address
  shell: "cat {{ role_path }}/files/relay_registration.key"
  register: relay_registration
  delegate_to: localhost
  run_once: yes
  become: no

- name: Read registration address
  shell: "cat {{ role_path }}/files/registration.key"
  register: registration
  delegate_to: localhost
  run_once: yes
  become: no

- name: Read withdrawal address
  shell: "cat {{ role_path }}/files/withdrawal.key"
  register: withdrawal
  delegate_to: localhost
  run_once: yes
  become: no

- name: Send eth to relay registration, registration and withdrawal
  shell:
    _raw_params: >
      ./gradlew runSendEther --args="{{ item.address }} 0.1"
    chdir: "{{ playbook_dir }}/../../"
  with_items:
    - "{{ relay_registration.stdout }}"
    - "{{ registration.stdout }}"
    - "{{ withdrawal.stdout }}"
  environment:
    PROFILE: testnet
  register: file
  delegate_to: localhost
  become: no
  run_once: yes
